h1{
    color: rgb(60, 179, 60);
}

body {
  background-image: url("./../Images/Background-Image.JPEG");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

p{
  color: lightcyan;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active) {
  background-color: lightblue;
}

ul li a.active {
  background-color: green;
}
footer {
  min-height: 50px;
  background: green;
  text-align: center;
}
