h1{
    color: rgb(60, 179, 60);
    text-align: center;
}

body {
  background-image: url("./../Images/Background-Image.JPEG");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex; 
  flex-direction: column; 
}

img{
  max-width: 25%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

main { 
  flex: 1;
  align-self: center;
  width: 70vw;
  background-color: rgb(67, 67, 67);
}

main h1, main p { 
  margin-left: 16px; 
  margin-right: 16px; 
} 

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

h2, p {
  margin: 10px;
}

p{
  color: lightcyan;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active) {
  background-color: lightblue;
}

ul li a.active {
  background-color: green;
}

footer { 
  min-height: 50px; 
  background: green; 
  text-align: center; 
} 

@media (max-width: 768px) { 
  main { 
    width: 100vw; 
  }; 
} 
 
@media (min-width: 768px) and (max-width: 1200px) { 
  main { 
    width: 95vw; 
  }; 
}